:root{ /*variável fixa para toda a página. São cores padrão do site e mudando aqui, muda tudo*/
    --vermelho: #E50914;
    --preto: #141414;
}
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/*elementos base*/
body{
    background-color: var(--preto); /*declaração da variável root*/
    font-family:Arial, Helvetica, sans-serif ;
    color: white;
}
header .logo{
    color: var(--vermelho);
    font-size: 40px;
    font-family: arial var(--preto);
    margin-left: 5px;
}
header nav a{
    text-decoration:none;
    color:#AAA;
    margin-right: 10px;
}
header nav a:hover{
    color: #fff;
}
header .container{
    display: flex;
    align-items: center; /* alinha na vertical*/
    justify-content: space-between; /* alinha na horizontal*/
    margin-left: 20px;
}
/*elementos da capa*/
.capa{
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)100%),  url("images/foto-princ11.jpg");
    
    height: 400px;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.capa .descrição{
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 20px;
}
.título{
    margin-left: 20px;
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
.botão{
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: none;

    padding: 7px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    margin-left: 20px;
    cursor: pointer;
    transition: .4s ease all;
    border-radius: 5px;
}
.botão:hover{
    background-color: white;
    color: var(--preto);
}
.botão i{
    margin-right: 8px;
}
.capa .container{
    width: 90%;
}
.título-trilogia{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 40px;
    color: white;
}

.título-filmes{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 40px;
    color: white;
    
}
.título-documentários{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 40px;
    color: white;
    
}
.título-séries{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 40px;
    color: white;
    
}
.carrosel-films{
    margin-left: 5px;
    margin-right: 5px;
}.box-film{
    border-radius: 10px;
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
.box-film:hover{
    cursor: pointer;
    box-shadow: 3px 3px 0px var(--vermelho);
}
.foto-série{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.foto-série:hover{
    cursor: pointer;
    box-shadow: 2px 2px 0px var(--vermelho);
}
.box-film-série{
    border-radius: 10px;
    margin-bottom: 20px;
}
.back-start{
    display: flex;
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    transition: .4s ease all;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}
.back-start a:hover{
    color: var(--preto);
    background-color: var(--vermelho);
}
.back-start a{
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    transition: .4s ease all;
    border-radius: 5px;
    text-decoration: none;
}
